@tailwind base;
@tailwind components;
@tailwind utilities;


/* cursor.css */


.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.cursor-inner {
  width: 20px;
  height: 20px;
  border: 3px solid #f39c12;
  border-radius: 50%;
  transition: width 0.2s, height 0.2s;
}
